

.logo{
  height: 80px;
}
.header{
  background: #E0EAEB;
  border-bottom: 3px solid #fc5c65;
}

.container-slide{
  border: 3px 0px solid #fc5c65;
  border-radius: 1px;
  height: 30%;
}

li
 {
  font-family: 'Mali', cursive;
}

h5,h2,h3,h4{
  font-family: 'Anton', sans-serif;
  font-style: italic;
}
p,a{
  font-family: 'Mali', cursive;
}

li:hover{
  background: #fc5c65;
  border-radius: 5%;
}

.mision-vision{
    background-color: #ef476f;
    padding: 100px 0px;
}

.slider-section{

  padding: 0px;
}

.rowmv{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#productos{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #913D88;
}

#formulario{
  background-color: #cae5ff;
  padding: 100px 0px;
}

footer{
  padding: 50px;
  background-color: #26C281;
}

#ubicacion{
  padding: 100px 0px;
  background-color: #ABB7B7;
}

.texto-ubicacion{
  margin-top: 40px;
}

.sociales{
  color: #2C3E50;
}

.sociales:hover{
  color: #F4B350;
}

.text-img{
  font-size: 30px;
  font-weight: bold;
}

.text-img2{
  font-size: 20px;
  font-weight: 400;
}
